<div class="total-form-checkout">
  <?php foreach ($totals as $total) { ?>
  		 <b><?php echo $total['title']; ?></b> <span class="total-check"><?php echo $total['text']; ?> <i class="rub">д</i></span><br>
  <?php } ?> 
</div>
<?php if(!$hasStock) { ?>
<div class="red">Заказ содержит товары, которых нет в наличии. Удалите товары которых нет в наличии, после чего вы сможете продолжить заказ.</div>
<?php } ?>
<?php echo $payment; ?>
