<div class="b-promocode">
    <input type="text" name="coupon" value="<?php echo $coupon; ?>" class="inputbox" id="input-coupon" placeholder="Введите промо-код">
    <button class="btn" onclick="CouponClick();return false;" id="button-coupon"><span>Применить</span></button>
</div>
<script type="text/javascript"><!--

    function CouponClick () {
        var namCup = $('.b-promocode').find('input[name=\'coupon\']').val();
        $.ajax({
            url: 'index.php?route=checkout/coupon/coupon',
            type: 'post',
            data: 'coupon=' + encodeURIComponent(namCup),
            dataType: 'json',
            beforeSend: function() {
                //$('#button-coupon').button('loading');
            },
            complete: function() {
                //$('#button-coupon').button('reset');
            },
            success: function(json) {
                var width = Math.max($(window).width(), window.innerWidth);
                //$('.alert').remove(); 
                $('.form-mess').remove();
                if(width > 700) {
                  var messLeft = $('.b-promocode').width();
                }else{
                  var messLeft = 0;
                }

                if (json['error']) {
                    //$('.breadcrumb').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" //data-dismiss="alert">&times;</button></div>');

                    //$('html, body').animate({ scrollTop: 0 }, 'slow');
                    /*if(width > 600){
                        console.log(width);
                      $('#button-coupon').after('<span class="error-mess form-mess" style="left:'+ messLeft +'px;">Купон не действителен!</span>');
                    }else{
                      $('.mob-cart #button-coupon').after('<span class="error-mess form-mess" style="left:'+ messLeft +'px;">Купон не действителен!</span>');
                    }*/
                    $('#button-coupon').after('<span class="error-mess form-mess" style="left:'+ messLeft +'px;">Купон не действителен!</span>');
                    $('.error-mess').delay(2500).fadeOut(400);
                }

                if (json['redirect']) {
                    location = json['redirect'];
                    //location.reload();
                }
            }
        });
    }
    //--></script>